* {
    margin: 0;
    padding: 0px;box-sizing: border-box;
    border-radius: 5px;
}
div{
     border-top: 1px solid;
     border-left: 1px solid;
     border-bottom: 1px solid;
     border-right: 1px solid;
     background-color: aliceblue;
     max-width: 300px;
}
h3 {
    background-color: black;
    color: white;
    border-bottom: 1px solid;
    /* border-top: 1px solid; */
    border-right: 1px solid ;
    border-left: 1px solid;
    max-width: fit-content;
    border-radius: 0px;
    padding: 5px;
}
h4{
    text-align: right;
}
p{
    text-align: right;
    padding: 10px;
}
.ser{
 text-align: center; 
 font-size: 40px; 
 background-color: white; 
}
h1{
    text-align: center;
    background-color: yellow;
    font-size: 200px;
}
.the{
    max-width: 800px;
    height: 100px;
    border-radius: 0px;
    text-align: left;
    background-color: darkblue ;
    color: white;
    margin-inline-start:auto ;
    
}
.in{
    text-align: center;
}
a{
    text-decoration: none;
    border-right:1px solid ;
    border-left:1px solid ;
    border-top: 1px solid;
    border-bottom:1px solid ;
    background-color: orangered;
    border-radius: 5px;
    color: white;
    margin-inline-start: auto;
}

.so{
    border-top: 0ch;
    border-bottom: 0ch;
    border-left: 0ch;
    border-right: 0ch;
    background-color: white;
    margin-inline: auto;
}